/**
 * WordPress dependencies
 */
import {
	store as commandsStore,
	useCommand,
	useCommandLoader,
} from '@wordpress/commands';
import { replace, plus, starFilled } from '@wordpress/icons';
import { dispatch, useSelect } from '@wordpress/data';
import { __ } from '@wordpress/i18n';
import { getPathAndQueryString } from '@wordpress/url';
import { registerPlugin } from '@wordpress/plugins';
import { store as editorStore } from '@wordpress/editor';
import { store as coreStore } from '@wordpress/core-data';
import { useMemo } from '@wordpress/element';

const Render = () => {
	// Register dynamic commands.
	useCommandLoader( {
		name: 'block-developer-cookbook/toggle-custom-fields',
		hook: useToggleCustomFields,
	} );

	// Register a static command using useCommand
	useCommand( {
		name: 'block-developer-cookbook/great-success',
		label: __( 'Great Success!' ),
		icon: starFilled,
		callback: ( { close } ) => {
			close();
			window.confetti( {
				particleCount: 100,
				fullscreen: true,
				spread: 170,
				origin: { y: 0.6 },
			} );
		},
	} );

	return null; // The component doesn't need to render anything visually
};

registerPlugin( 'my-custom-command-plugin', {
	render: Render,
} );

/**
 * Hook to be used to load dynamic commands.
 */
const useToggleCustomFields = () => {
	const { isViewable, hasCustomFields } = useSelect( ( select ) => {
		const postType = select( editorStore ).getCurrentPostType();
		const postTypeObject = select( coreStore ).getPostType( postType );
		return {
			isViewable: postTypeObject?.viewable,
			postTypeName: postType,
			hasCustomFields:
				postTypeObject?.supports?.[ 'custom-fields' ] === true,
		};
	}, [] );

	const commands = useMemo( () => {
		if ( isViewable && hasCustomFields ) {
			return [
				{
					name: 'block-developer-cookbook/toggle-custom-fields',
					label: __( 'Toggle Custom Fields' ),
					icon: replace,
					callback: ( { close } ) => {
						const customFieldsForm = document.getElementById(
							'toggle-custom-fields-form'
						);

						// Ensure the referrer values is up to update with any
						customFieldsForm
							.querySelector( '[name="_wp_http_referer"]' )
							.setAttribute(
								'value',
								getPathAndQueryString( window.location.href )
							);

						customFieldsForm.submit();
						close();
					},
				},
			];
		}
		return [];
	}, [ isViewable, hasCustomFields ] );

	return {
		commands,
		isLoading: false,
	};
};

/**
 * Register a command from anywhere.
 */
dispatch( commandsStore ).registerCommand( {
	name: 'block-developer-cookbook/great-success',
	label: __( 'Great Success!' ),
	icon: starFilled,
	callback: ( { close } ) => {
		close();
		window.confetti( {
			particleCount: 100,
			fullscreen: true,
			spread: 170,
			origin: { y: 0.6 },
		} );
	},
} );
