/**
 * WordPress Dependencies
 */
import { useBlockProps, RichText, InnerBlocks } from '@wordpress/block-editor';

/**
 * Array of deprecation objects for the block
 *
 * Each object represents a previous version of the block,
 * ordered from newest to oldest.
 */
const deprecations = [];

export default deprecations;
