### Bound Excerpt

## Overview

In this recipe, we're going to create a block that is connected to the excerpt of the post it's displayed but we won't use a custom block to do it! Instead, we're going to leverage the Block Bindings API and block variations to modify the paragraph block to be able to manage the excerpt right inside the content.

## Step 1 - Defining the custom binding source on the server.

As of WordPres 6.7, the only binding source that is automatically registered is for post meta. So we will need to create a custom binding source that can be connected to one of the blocks that support block bindings.

This is done with the `register_block_bindings_source` function which takes two parameters; the name of the binding and an array of settings for it.

Add the following code to register a new binding source on the `init` hook:

```php
/**
 * Register a custom binding source to manage the post excerpt.
 */
function register_excerpt_binding_source() {
	register_block_bindings_source(
		'block-developer-cookbook/excerpt',
		array(
			'label'              => __( 'Post Excerpt', 'connected-excerpt' ),
			'get_value_callback' => __NAMESPACE__ . '\retrieve_excerpt_binding',
			'uses_context'       => array( 'postId' ),
		)
	);
}
add_action( 'init', __NAMESPACE__ . '\register_excerpt_binding_source' );
```

We're calling our new source `block-developer-cookbook/excerpt` and using the settings array to provide the `label` that wil appear in the UI, the `get_value_callback` which will be used to retrieve the excerpt, and finally `uses_context` to pass the current `postID` to the callback to be used as needed.

Next, let's define the `retrieve_excerpt_binding` callback:

```php
/**
 * The callback to return the excerpt for the binding
 */
function retrieve_excerpt_binding( $source_args, $block_instance ) {
	$post_id      = $block_instance->context['postId'];
	$current_post = get_post( $post_id );
	return $current_post->post_excerpt;
}
```

In the callback, we using the `postId` passed via context to retrieve the post and return its excerpt.

## Step 2 - Registering a block variation

While there is a UI available for connecting blocks to the build in `core/post-meta` binding source, there is no UI available for custom sources. This means that a user has to manually set the `metadata.bindings` object by going into the code view adding. This is not a great experience and is prone to user error.

Instead, we're going to create a block variation that pre sets the attributes for the block!

As of WordPress 6.7, only the Paragraph, Heading, Button and Image blocks support block bindings. For our purposes, the Paragraph block is the best option.

In the `src/variation.js` file add following:

```js
registerBlockVariation( 'core/paragraph', {
	name: 'block-developer-cookbook/excerpt',
	title: __( 'Bound Excerpt', 'connected-excerpt' ),
	icon,
	description: __(
		'Mange the post excerpt directly in a block using a custom binding.',
		'connected-excerpt'
	),
	isActive: [ 'metadata.bindings.content.source' ],
	attributes: {
		metadata: {
			bindings: {
				content: { source: 'block-developer-cookbook/excerpt' },
			},
		},
	},
	scope: [ 'inserter' ],
} );
```

If you've registered a variation before, this code wil not be new. The two most important parts are the values we setting for the `attributes.metadata.bindings` object and the `isActive` properties.

The Paragraph block supports binding its `content` attribute so in the `attributes.metadata.bindings` object, we are settings `content` to use the `source` that was defined in PHP - `block-developer-cookbook/excerpt`

Next, in order for the block editor to display this variation as the `Bound Excerpt`, we need to define the `isActive` property. WordPress 6.6 gave us the ability to use dot syntax. In this case, this variation is considered active is the block has `metadata.bindings.content.source` in it attributes and the value of `source` matches `'block-developer-cookbook/excerpt'`

Run the build go insert our new variation into a Post - be sure to add an excerpt manually to test.

## Step 3 - Managing the excerpt in the editor

Now that we have the block inserted, we should see that our block shows the words "Post Excerpt" in the editor and has content set to "Post Excerpt" set in the Attributes panel. If we view the front end, we'll see that the block does indeed show the excerpt - but we still have to update it manually in the Excerpt panel.

In order to make this block useful, we need to be able edit the content in the block directly in the editor. To do that we can use the `registerBlockBindingsSource` JavaScript function.

Add the following to the `src/excerpt-binding.js` file:

```js
registerBlockBindingsSource( {
	label: __( 'Post Excerpt', 'connected-excerpt' ),

	name: 'block-developer-cookbook/excerpt',

	getValues() {},

	setValues() {},

	canUserEditValue() {
		return true;
	},
} );
```

The `registerBlockBindingsSource` takes an object settings:

1.  `label` - Used to show the binding source in the editor
2.  `name` - The name of the binding source. This needs to match what was defined in PHP.
3.  `getValues` - The function used to retrieve the value to be displayed in the block editor.
4.  `setValues` - The function used to set the values.
5.  `canUserEditValue` - This function is used to determine if a user can edit the value.

For more information and examples, please refer to the [official documentation](https://developer.wordpress.org/block-editor/reference-guides/block-api/block-bindings/#editor-registration)

## Step 4 - Retrieving the post excerpt in the editor

Let's add the details for the `getValues` function. `getValues` is provided an object of values that we can use. For our purposes, we need to access the `select` property which will allow us to use any selector we need.

The selector we're looking for is `getEditedPostAttribute` and it can be found on the `core/editor` store. You can either use the store name directly (`core/editor`) or as with our example, import it from the store.

```js
import { store as editorStore } from '@wordpress/editor';
```

`getEditedPostAttribute`accepts a single parameter, the name of the attributed we want and in our case, it would be `excerpt`.

Update the function with the following:

```js
getValues( { select } ) {
	const currentExcerpt =
		select( editorStore ).getEditedPostAttribute( 'excerpt' );

	// return an object with the attribute we're binding to as the key.
	return {
		content: currentExcerpt,
	};
},
```

## Step 5 - Setting the post excerpt from the editor

Let's setup the `setValues` function to update the excerpt when the user updates the block content. As is the case, `setValues` received an object of properties that we can use. The ones we need are the `dispatch` and `bindings` properties.

The `bindings` property provides us with access to the bound properties. In our case, we have a single bound property that can be found at `bindings.content`. This has an inner property called `newValue` that will contain the update value from the block.

Add the following to the function and re run your build. In the browser, you should see that any changes in the block as output in the console.

```js
setValues( { bindings } ) {

	const updatedContent = bindings?.content?.newValue;
	console.log( `Content updated: ${updatedContent}` );
	dispatch( editorStore ).editPost( {
		excerpt: bindings?.content?.newValue,
	} );
},
```

Now that we have the new value from the block, we need to dispatch an action to update the excerpt with it. The action we want is called `editPost` and it is available from the `core/editor` store. Update the `setValues` function with the following:

```js
setValues( { dispatch, bindings } ) {
	const updatedContent = bindings?.content?.newValue;
	dispatch( editorStore ).editPost( {
		excerpt: updatedContent,
	} );
},
```

And that's it! Save, rerun the build and test it out in the browser. Great work!
