{{#isStartVariant}}
/**
 * WordPress Dependencies
 */
import { useBlockProps } from '@wordpress/block-editor';

/**
 * The edit function describes the structure of your block in the context of the
 * editor. This represents what the editor will render when the block is used.
 *
 * @param {*} props
 * @return {WPElement} Element to render.
 */
export default function Edit( props ) {
	return (
		<blockquote { ...useBlockProps() }>
			<p>This is where the testimonial content will go.</p>
			<cite>Author Name goes here</cite>
		</blockquote>
	);
}
{{/isStartVariant}}
{{#isCompletedVariant}}
/**
 * WordPress Dependencies
 */
import { __ } from '@wordpress/i18n';
import { useBlockProps, RichText } from '@wordpress/block-editor';
import { useEntityProp } from '@wordpress/core-data';

/**
 * The edit function describes the structure of your block in the context of the
 * editor. This represents what the editor will render when the block is used.
 *
 * @see https://developer.wordpress.org/block-editor/reference-guides/block-api/block-edit-save/#edit
 *
 * @param {*} param0
 * @return {WPElement} Element to render.
 */
export default function Edit( {
	attributes: { authorName },
	setAttributes,
	context: { postType, postId },
} ) {
	const [ meta, updateMeta ] = useEntityProp(
		'postType',
		postType,
		'meta',
		postId
	);
	const { testimonial } = meta


	return (
		<blockquote { ...useBlockProps() }>
			<RichText
				placeholder={ __(
					'Testimonial goes here',
					'block-developer-cookbook'
				) }
				tagName="p"
				value={ testimonial }
				onChange={ ( newTestimonialContent ) =>
					updateMeta( {
						...meta,
						testimonial: newTestimonialContent,
					} )
				}
			/>
			<cite>
				<RichText
					tagName="span"
					placeholder={ __(
						'Author name',
						'block-developer-cookbook'
					) }
					allowedFormats={ [] }
					disableLineBreaks
					value={ authorName }
					onChange={ ( newAuthorName ) =>
						setAttributes( { authorName: newAuthorName } )
					}
				/>
			</cite>
		</blockquote>
	);
}
{{/isCompletedVariant}}
