<?php
/**
 * Plugin Name:       {{title}}
{{#pluginURI}}
 * Plugin URI:        {{{pluginURI}}}
{{/pluginURI}}
{{#description}}
 * Description:       {{description}}
{{/description}}
 * Requires at least: 6.1
 * Requires PHP:      7.0
 * Version:           {{version}}
{{#author}}
 * Author:            {{author}}
{{/author}}
{{#license}}
 * License:           {{license}}
{{/license}}
{{#licenseURI}}
 * License URI:       {{{licenseURI}}}
{{/licenseURI}}
 * Text Domain:       {{textdomain}}
{{#domainPath}}
 * Domain Path:       {{{domainPath}}}
{{/domainPath}}
{{#updateURI}}
 * Update URI:        {{{updateURI}}}
{{/updateURI}}
 *
 * @package {{namespace}}
 */

namespace BlockDevelopersCookbook;
{{#isCompletedVariant}}
// Hooks.
add_action( 'wp_head', __NAMESPACE__ . '\horrible_hack_to_add_some_css' );
add_action( 'enqueue_block_editor_assets',  __NAMESPACE__ . '\enqueue_files_for_acronym_format' );

/**
 * Enqueue the files for the format.
 */
function enqueue_files_for_acronym_format() {
	$acronym_file = plugin_dir_path( __FILE__ ) . '/build/acronym.asset.php';

	if ( file_exists( $acronym_file ) ) {
		$assets = include $acronym_file;
		wp_enqueue_script(
			'acronym-format',
			plugin_dir_url( __FILE__ ) . 'build/acronym.js',
			$assets['dependencies'],
			$assets['version'],
			true
		);

		wp_enqueue_style(
			'acronym-format-styles',
			plugin_dir_url( __FILE__ ) . 'build/acronym.css',
			array(),
			$assets['version']
		);
	}
}


/**
 * This is a hack! Do it better than me!
 */
function horrible_hack_to_add_some_css() {
	echo '<style>.bdc-acronym {
		cursor: help;
	}</style>';
}
{{/isCompletedVariant}}
