/**
 * WordPress dependencies
 */
{{#isCompletedVariant}}
import { createBlock } from '@wordpress/blocks';
{{/isCompletedVariant}}

const transformers = {
	{{#isStartVariant}}
	to: [],
	from: [],
	{{/isStartVariant}}
	{{#isCompletedVariant}}

	to: [
		{
			type: 'block',
			blocks: [ 'core/paragraph' ],
			transform: ( { message } ) => {
				return createBlock( 'core/paragraph', {
					content: message,
				} );
			},
		},
	],
	from: [
		{
			type: 'block',
			blocks: [ 'core/paragraph' ],
			transform: ( { content } ) => {
				return createBlock( 'block-developers-cookbook/transforms', {
					message: content,
				} );
			},
		},
		// Typing and hitting enter to insert a new block.
		{
			type: 'enter',
			regExp: /^rollout!$/,
			transform: () => {
				return createBlock( 'block-developers-cookbook/transforms' );
			},
		},
		// Single character prefix.
		{
			type: 'prefix',
			prefix: '?',
			transform: () => {
				return createBlock( 'block-developers-cookbook/transforms' );
			},
		},
	],
	{{/isCompletedVariant}}
};
export default transformers;
