.wp-block-group,
.wp-block-columns {

	&.recipe-container {
		background-color: var(--wp--preset--color--card);
		// box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
		box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
		position: relative;
	}

	&.recipe-container .number-value {
		color: var(--wp--preset--color--highlight);
	}

	&.recipe-container:hover {
		transition: transform 0.2s ease-in-out;
		transform: scale(1.05);
	}
}