/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */
.wp-block-{{namespace}}-{{slug}} {
	.meme-wrapper {
		.text-overlay {
			pointer-events: auto;
		}
	}
	.image-select-wrapper {
		button {
			img {
				width: 100%;
				height: auto;
			}
		}
	}
}