/**
 * WordPress dependencies
 */
import { useBlockProps, RichText } from '@wordpress/block-editor';

/**
 * The save function defines the way in which the different attributes should
 * be combined into the final markup, which is then serialized by the block
 * editor into `post_content`.
 *
 * @param {Object} root0
 * @param {Object} root0.attributes
 * @see https://developer.wordpress.org/block-editor/developers/block-api/block-edit-save/#save
 */
export default function save( { attributes } ) {
	{{#isCompletedVariant}}
	const {
		topText,
		bottomText,
		image: { url: src, name: imageAlt, width, height } = {},
	} = attributes;
	{{/isCompletedVariant}}
	return (
		<section { ...useBlockProps.save() }>
			<div className="meme-wrapper">
				{{^isCompletedVariant}}
				<div
					className="text-overlay text-overlay__top"
					style={ { color: 'white' } }
				>
					Top Text
				</div>
				<div
					className="text-overlay text-overlay__bottom"
					style={ { color: 'white' } }
				>
					Bottom Text
				</div>
				<img
					src="https://i.imgflip.com/1bh8.jpg"
					alt="The Most Interesting Man In The World"
				/>
				{{/isCompletedVariant}}
				{{#isCompletedVariant}}
				<RichText.Content
					value={ topText }
					className="text-overlay text-overlay__top"
				/>
				<RichText.Content
					value={ bottomText }
					className="text-overlay text-overlay__bottom"
				/>
				<img
					src={ src }
					alt={ imageAlt }
					width={ width }
					height={ height }
				/>
				{{/isCompletedVariant}}
			</div>
		</section>
	);
}
