/* IMDB */
:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-imdb {
	color: #000000;
}

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-imdb {
	background-color: #f5c518;
	color: #000000;
}

/* Ko-fi */
:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-kofi {
	color: #72a5f2;
}

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-kofi {
	background-color: #72a5f2;
	color: #ffffff;
}

/* Letterboxd */
:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-letterboxd {
	color: #202830;
}

:where(.wp-block-social-links:not(.is-style-logos-only))
	.wp-social-link-letterboxd {
	background-color: #3b45fd;
	color: #fff;
}

/* Signal */
:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-signal {
	color: #3b45fd;
}

:where(.wp-block-social-links:not(.is-style-logos-only))
	.wp-social-link-signal {
	background-color: #3b45fd;
	color: #fff;
}

/* YouTube Music */
:where(.wp-block-social-links.is-style-logos-only)
	.wp-social-link-youtube-music {
	color: #ff0000;
}

:where(.wp-block-social-links:not(.is-style-logos-only))
	.wp-social-link-youtube-music {
	background-color: #ff0000;
	color: #fff;
}
