/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-chef-kiss-hat .chef-hat-icon {
	position: absolute;
	top: -2.5rem;
	width: 6rem;
	height: 6rem;
	left: -1rem;
	transform: rotate(-22deg);
}