/**
 * WordPress dependencies
 */
import { __ } from '@wordpress/i18n';
import { registerBlockBindingsSource } from '@wordpress/blocks';
import { store as editorStore } from '@wordpress/editor';

/**
 * Register the custom bindings so it can be edited in the block editor.
 */
{{#isCompletedVariant}}
registerBlockBindingsSource( {
	label: __( 'Post Excerpt', '{{textdomain}}' ),
	name: 'block-developer-cookbook/excerpt',
	getValues( { select } ) {
		const currentExcerpt =
			select( editorStore ).getEditedPostAttribute( 'excerpt' );
		return {
			content: currentExcerpt,
		};
	},

	setValues( { dispatch, bindings } ) {
		const updatedContent = bindings?.content?.newValue;
		dispatch( editorStore ).editPost( {
			excerpt: updatedContent,
		} );
	},

	canUserEditValue() {
		return true;
	},
} );
{{/isCompletedVariant}}
