<?php
/**
 * Render template for the Dark Light Mode Block.
 *
 * @package {{namespace}}
 */

namespace BlockDevelopersCookbook;

{{#isCompletedVariant}}
// Enqueue the WordPress API fetch script for making HTTP requests to the WordPress REST API.
wp_enqueue_script( 'wp-api-fetch' );

// Getting the initial color scheme from the cookie.
$color_scheme = get_color_scheme();

// Setup the initial state for the WordPress interactivity store.
// This state will be available to the JavaScript front-end code.
wp_interactivity_state(
	'dark-light-mode',
	array(
		'userID'      => get_current_user_id(), // Get the current user's ID or 0 for non-logged-in users.
		'colorScheme' => $color_scheme,         // The current color scheme preference ('light' or 'dark').
	)
);
?>
<div <?php echo wp_kses_data( get_block_wrapper_attributes() ); ?>>
    <button
        data-wp-interactive="dark-light-mode"
        data-wp-bind--aria-pressed="state.darkMode"
        data-wp-on--click="actions.toggleMode"
        data-wp-watch="callbacks.updateColorScheme"
		data-wp-init="callbacks.initToggle"
        class="toggle"
        type="button"
    >
        <span class="toggle__display" hidden></span>
        <span class="screen-reader-text">
            <?php esc_html_e( 'Switch to dark mode', 'dark-light-mode' ); ?>
        </span>
    </button>
</div>
{{/isCompletedVariant}}
{{#isStartVariant}}
?>
<div <?php echo wp_kses_data( get_block_wrapper_attributes() ); ?>>
<button class="toggle" type="button">
	<span class="toggle__display" hidden></span>
	<span class="screen-reader-text">
		<?php esc_html_e( 'Switch to dark mode', 'dark-light-mode' ); ?>
	</span>
</button>
</div>
{{/isStartVariant}}
