/**
 * WordPress dependencies
 */
{{#isStartVariant}}
import { useBlockProps, useInnerBlocksProps } from '@wordpress/block-editor';
import { __ } from '@wordpress/i18n';
{{/isStartVariant}}
{{#isCompletedVariant}}
import {
	useBlockProps,
	useInnerBlocksProps,
	InspectorControls,
} from '@wordpress/block-editor';
import { PanelBody, ToggleControl } from '@wordpress/components';
import { __ } from '@wordpress/i18n';
{{/isCompletedVariant}}

/**
 * The edit function describes the structure of your block in the context of the
 * editor. This represents what the editor will render when the block is used.
 */
{{#isStartVariant}}
export default function Edit() {
{{/isStartVariant}}
{{#isCompletedVariant}}
export default function Edit( { attributes: { continuous }, setAttributes } ) {
{{/isCompletedVariant}}
	const blockProps = useBlockProps();
	{{#isStartVariant}}
	const innerBlockProps = useInnerBlocksProps();
	{{/isStartVariant}}
	{{#isCompletedVariant}}
	const innerBlockProps = useInnerBlocksProps(
		{ className: 'slider-container' },
		{ allowedBlocks: [ 'core/cover', 'core/image', 'core/media-text' ] }
	);
	{{/isCompletedVariant}}
	return (
		<div { ...blockProps }>
			<div { ...innerBlockProps }></div>
			{{#isCompletedVariant}}
			<InspectorControls>
				<PanelBody title={ __( 'Slider Controls' ) }>
					<ToggleControl
						label={ __( 'Continuous' ) }
						help={ __(
							'If enabled, the slider will loop back to the first slide after the last slide.'
						) }
						checked={ continuous }
						onChange={ () =>
							setAttributes( { continuous: ! continuous } )
						}
					/>
				</PanelBody>
			</InspectorControls>
			{{/isCompletedVariant}}
		</div>
	);
}
