import { __ } from '@wordpress/i18n';
import { registerPlugin } from '@wordpress/plugins';
import { PluginDocumentSettingPanel } from '@wordpress/editor';
import { useEntityProp } from '@wordpress/core-data';
import { TextControl } from '@wordpress/components';

function SocialLinksPanel() {
	{{#isCompletedVariant}}
    const [ meta, setMeta ] = useEntityProp( 'postType', 'person', 'meta' );
	{{/isCompletedVariant}}
    return (
        <>
            <PluginDocumentSettingPanel
                name="yp-general-info"
                title={ __( 'General Info', 'your-people' ) }
                className="yp-general-info"
                initialOpen={true}
            >
                <TextControl
                    label={ __(
                        'Title',
                        'your-people'
                    ) }
                    value={ {{#isCompletedVariant}}meta?.yp_job_title || {{/isCompletedVariant}}'' }
					{{#isCompletedVariant}}
                    onChange={ ( newValue ) =>
                        setMeta( {
                            ...meta,
                            yp_job_title: newValue,
                        } )
                    }
					{{/isCompletedVariant}}
                    help={ __(
                        'The person\'s job title(s).',
                        'your-people'
                    ) }
                />
				{{#isCompletedVariant}}
                <TextControl
                    label={ __(
                        'Employer/Institution',
                        'your-people'
                    ) }
                    value={ meta?.yp_institution || '' }
                    onChange={ ( newValue ) =>
                        setMeta( {
                            ...meta,
                            yp_institution: newValue,
                        } )
                    }
                />
                <TextControl
                    label={ __(
                        'Location',
                        'your-people'
                    ) }
                    value={ meta?.yp_location || '' }
                    onChange={ ( newValue ) =>
                        setMeta( {
                            ...meta,
                            yp_location: newValue,
                        } )
                    }
                />
                <TextControl
                    label={ __(
                        'Personal Website',
                        'your-people'
                    ) }
                    value={ meta?.yp_website_url || '' }
                    onChange={ ( newValue ) =>
                        setMeta( {
                            ...meta,
                            yp_website_url: newValue,
                        } )
                    }
                />
				<TextControl
                    label={ __(
                        'LinkedIn URL',
                        'your-people'
                    ) }
                    value={ meta?.yp_linkedin_url || '' }
                    onChange={ ( newValue ) =>
                        setMeta( {
                            ...meta,
                            yp_linkedin_url: newValue,
                        } )
                    }
                />
				{{/isCompletedVariant}}
            </PluginDocumentSettingPanel>
        </>
    );
}

registerPlugin( 'yp-social-links-panel', { render: SocialLinksPanel } );
