/**
 * WordPress dependencies
 */
import { registerBlockVariation } from '@wordpress/blocks';
import { __ } from '@wordpress/i18n';

{{#isCompletedVariant}}
/**
 * Register a paragraph block variation with meta binding
 */
registerBlockVariation( 'core/paragraph', {
	name: 'show-my-data',
	title: __( 'Show My Data', 'block-binding-shortcut' ),
	description: __(
		'Display custom meta data in a paragraph',
		'block-binding-shortcut'
	),
	attributes: {
		metadata: {
			bindings: {
				content: {
					source: 'core/post-meta',
					args: {
						key: 'my_custom_data',
					},
				},
			},
		},
	},

	isActive: [ 'metadata.bindings.content.args.key' ],
	scope: [ 'inserter', 'transform' ],
} );
{{/isCompletedVariant}}
